bin/
obj/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.db-shm
*.db-wal
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
*.log
*.vs/
TestResults/
*.swp
*.tmp
*.bak
.dotnet/
.env*
*.tar
manifesto/